/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: grey; /* Change to grey as the background color */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 100% of the viewport height */
  color: white; /* Set text color to white */
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.chosen-bot,
.bot-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  background-color: grey; /* Change to grey as the background color */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bot-image {
  max-width: 100%;
  height: auto;
}

/* BotCard.css */

h1 {
  text-align: center;
}

.bot-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bot-card {
  width: 200px;
  margin: 10px;
  cursor: pointer;
  background-color: black; /* Add beige as the background color */
  color: white; /* Set text color to white */
}

/* ChosenBot.css */

.chosen-bot {
  text-align: center;
  background-color: grey; /* Change to grey as the background color */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white; /* Set text color to white */
}

/* Optional: Add styles for the "X" button in BotCard */
.bot-card button {
  display: block;
  margin-top: 10px;
}
